body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.navMenu_logo li {
    font-size: 17px;
    list-style: none;
    margin-left: 50px;
}

.desc-film {
    margin-top: 14%;
    margin-left: 1%;
    margin-right: 44%;
}


/* .desc-film h3 {
    font-size: 60px;
} */

.desc-film p {
    font-size: 20px;
}

.contenido {
    padding: 2.5% 2.5% 10% 2.5%;
}


/* ---------------------------------------- EFECTO HOVER PARA IMAGENES ---------------------------------------- */

.search {
    width: 500px;
    height: 35px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 1px solid #fff;
}

.search input {
    width: 370px;
    padding: 10px 5px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
}

.search input:focus {
    outline: 0;
    background: transparent;
}

.search button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    width: 120px;
    color: #fff;
    background: transparent;
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0;
}

.search button:hover {
    background: #fff;
    color: #444;
}

.search button:active {
    box-shadow: 0px 0px 12px 0px #e1e1e1;
}

.search button:focus {
    outline: 0;
}


/* ---------------------------------------- NAVBAR ---------------------------------------- */

#show_bg_2 {
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.192)), url('../img/subscribe/background.jpg'); */
    width: 100%;
    height: 925px;
    background-size: cover;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

#myVideo {
    position: absolute;
    z-index: -9999;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.btn-login {
    background-color: red;
    color: white;
    font-size: 16px;
    border: 7px solid red;
    border-radius: 7px;
}

.navMenu_navbar {
    position: relative;
    z-index: 15;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 1%;
    height: 100px;
}

.navMenu_navbar .navMenu_logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.navMenu_navbar .navMenu_links {
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}