body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}


/* body::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
} */

 ::-webkit-scrollbar {
    display: none;
}


/* ---------------------------------------- EFECTO HOVER PARA IMAGENES ---------------------------------------- */


/* ---------------------------------------- NAVBAR ---------------------------------------- */

#show_bg_2 .slogan-navbar {
    color: white;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
    text-align: center;
}

.slogan-navbar h4 {
    font-size: 50px;
}

.slogan-navbar p {
    font-size: 22.5px;
}

a {
    text-decoration: none;
    color: white;
}

#show_bg_2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.74)), url('../img/imagen_inicio.jpg');
    width: 100%;
    height: 650px;
    background-size: cover;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.btn-login {
    background-color: red;
    color: white;
    font-size: 16px;
    border: 7px solid red;
    border-radius: 7px;
}

.navMenu_navbar {
    position: relative;
    z-index: 15;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 1%;
    height: 100px;
}

.navMenu_navbar .navMenu_logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.navMenu_navbar .navMenu_links {
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* ---------------------------------------- TOP LIST ---------------------------------------- */

.contenido {
    padding: 2.5% 2.5% 0% 2.5%;
}

.netflix-row {
    overflow: scroll;
    width: 100%;
}

.netflix-row--inner {
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70.3125px 0;
    padding-bottom: 10px;
}

.netflix-row--item {
    display: inline-block;
    background: #808080;
    width: 300px;
    height: 140.625px;
    margin-right: 10px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}

.netflix-row--item:last-child {
    transform-origin: center right;
}


/* HOVER EFFECT */

.netflix-row {
    opacity: 1;
}

.netflix-row--inner:hover {
    transform: translate3d(-62.5px, 0, 0);
}

.netflix-row--inner:hover .netflix-row--item {
    opacity: 0.3;
}

.netflix-row--inner:hover .netflix-row--item:hover {
    opacity: 1;
    transform: scale(1.5);
}

.netflix-row--item:hover~.netflix-row--item {
    transform: translate3d(125px, 0, 0);
}


/* ---------------------------------------- CATALOGO ---------------------------------------- */

.four-column {
    display: inline-block;
    width: 22%;
    padding: 2.5% 0% 1% 2%;
}

.four-column p {
    font-size: 12.5px;
    text-align: center;
}

.four-column img {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .four-column {
        width: 30%;
    }
}

@media only screen and (max-width: 900px) {
    .four-column {
        width: 47%;
    }
}

@media only screen and (max-width: 600px) {
    .four-column {
        width: 100%;
    }
}


/* ---------------------------------------- FOOTER ---------------------------------------- */

#footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #0e0e0e;
}

.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo>a>img {
    max-height: 80px;
}

.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}

.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    background-color: red;
    color: #FFF;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    color: white;
}