body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Century Gothic;
}


/* body::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
} */

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.navMenu_logo li {
    font-size: 17px;
    list-style: none;
    margin-left: 50px;
}

.desc-film {
    margin-top: 14%;
    margin-left: 1%;
    margin-right: 44%;
}

.desc-film h3 {
    font-size: 60px;
}

.desc-film p {
    font-size: 20px;
}


/* ---------------------------------------- EFECTO HOVER PARA IMAGENES ---------------------------------------- */


/* ---------------------------------------- NAVBAR ---------------------------------------- */

#show_bg_2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.192)), url('../img/subscribe/background.jpg');
    width: 100%;
    height: 820px;
    background-size: cover;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.btn-login {
    background-color: red;
    color: white;
    font-size: 16px;
    border: 7px solid red;
    border-radius: 7px;
}

.navMenu_navbar {
    position: relative;
    z-index: 15;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 1%;
    height: 100px;
}

.navMenu_navbar .navMenu_logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.navMenu_navbar .navMenu_links {
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}