body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.navMenu_logo li {
    font-size: 17px;
    list-style: none;
    margin-left: 50px;
}

.desc-film {
    margin-top: 14%;
    margin-left: 1%;
    margin-right: 44%;
}


/* .desc-film h3 {
    font-size: 60px;
} */

.desc-film p {
    font-size: 20px;
}

.contenido {
    padding: 2.5% 2.5% 10% 2.5%;
}


/* ---------------------------------------- SEARCH BOX ---------------------------------------- */

.search__container {
    margin-top: 10%;
}

.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
}

.search__input {
    width: 30%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: white;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid white;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


/* EFECTO ANIMACIÓN */

.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    background-position: 100% center;
}


/* ---------------------------------------- NAVBAR ---------------------------------------- */


/* #show_bg_2 {
    width: 100%;
    height: 925px;
    background-size: cover;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
} */

#myVideo {
    position: absolute;
    z-index: -9999;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.btn-login {
    background-color: red;
    color: white;
    font-size: 16px;
    border: 7px solid red;
    border-radius: 7px;
}

.navMenu_navbar {
    position: relative;
    z-index: 15;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 1%;
    height: 100px;
}

.navMenu_navbar .navMenu_logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.navMenu_navbar .navMenu_links {
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}