<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="img/logo.png"> -->
    <title>LAYFLIX</title>
    <link rel="stylesheet" href="../css/styles_login.css">
</head>

<body>
    <div id='show_bg_2'>
        <nav class="navMenu_navbar">
            <div class="navMenu_logo">
                <a href="../index.html"><img src="../img/logo.png" width="200px" alt=""></a>
            </div>
        </nav>
        <div class="login-box">
            <h1>Iniciar Sesión</h1>
            <form class="form">
                <input type="text" placeholder="Introduce tu correo">
                <input type="password" placeholder="Introduce tu contraseña">
                <input type="submit" value="Entrar">
            </form>
            <div class="registrarse">
                <p>Aun no estas suscrito?</p><a href="./registrar.html">Registrarte</a>
            </div>
        </div>
    </div>
</body>

</html>