<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="img/logo.png"> -->
    <title>LAYFLIX</title>
    <link rel="stylesheet" href="../css/styles_revision.css">
</head>

<body>
    <div id='show_bg_2'>
        <nav class="navMenu_navbar">
            <div class="navMenu_logo">
                <a href="../index.html"><img src="../img/logo.png" width="200px" alt=""></a>
            </div>
        </nav>
        <div class="login-box">
            <h1>Cuenta en revision!</h1>
            <p>Actualmente tu cuenta esta en revision. No te preocupes este proceso no demorara mucho en cuanto menos te lo esperes podras disfrutar de nuestro gran catalogo de las mejores peliculas. Disculpe las molestias.</p>
        </div>
    </div>
</body>

</html>